<?xml version="1.0"?>
<!--
Copied from ODRI -
https://github.com/open-dynamic-robot-initiative/robot_properties_bolt/blob/master/src/robot_properties_bolt/resources/xacro/bolt.urdf.xacro
-->


<robot name="solo"
  xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
  xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
  xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
  xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface">

  <xacro:property name="mesh_ext" value="stl" />
  <xacro:property name="color_name" value="grey" />
  <xacro:property name="color" value="0.8 0.8 0.8" />
  <xacro:property name="opacity" value="1.0" />

  <!-- Include the urdf -->
  <xacro:include filename="$(find ros2_description_bolt)/urdf/solo_xacro/solo12.urdf.xacro"/>

  <!-- Include the ros2_control plugin and Hardware Description-->
  <xacro:include filename="$(find ros2_description_bolt)/ros2_control/system_solo.ros2_control.xacro" />

  <!-- Include the Gazebo plugin for ros2_control-->
  <!-- Notes: https://github.com/ros-controls/gazebo_ros2_control/blob/master/README.md-->
  <gazebo>
    <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
      <parameters>$(find gazebo_ros2_control_bolt)/config/solo_gazebo_controller.yaml</parameters>
    </plugin>
  </gazebo>

  <!-- Might need to add Gazebo reference later-->
  
  <!--Attach Crane-->
    <!-- <xacro:include filename="$(find ros2_description_bolt)/urdf/crane.urdf.xacro" />
    <xacro:crane parent="base_link" /> -->


  <!-- Add the full robot from urdf-->
  <xacro:solo_full
      mesh_ext="${mesh_ext}"
      color_name="${color_name}"
      color="${color}"
      opacity="${opacity}"/>

  <!-- Add the System from ros2_control-->
  <xacro:system_solo_ros2_control name="SystemRos2Control"/>

</robot>
